body {
    background-color: rgba(218, 154, 212, 0.543);
    color: rgb(199, 8, 148);
    
}
# frist-div{
    background-color: rgb(210, 191, 203);
}
.paragraph {
    color: rgb(1, 2, 14);
    font-size: 2rem;
}